<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>542444962991-b5b4g4ebdpkclg5o1fdkgi91scpl0uqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542444962991-b5b4g4ebdpkclg5o1fdkgi91scpl0uqh</string>
	<key>API_KEY</key>
	<string>AIzaSyCfrHDRq13v0BpioyNvjJJoI0BBgmuGcrk</string>
	<key>GCM_SENDER_ID</key>
	<string>542444962991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.plantApp</string>
	<key>PROJECT_ID</key>
	<string>plantapp-9fccd</string>
	<key>STORAGE_BUCKET</key>
	<string>plantapp-9fccd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542444962991:ios:592528b71e4cf3a9cbc05a</string>
</dict>
</plist>